In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
heart_data = pd.read_csv("Resources\Heart_Disease_Prediction.csv")

In [3]:
#This data looks very clean already, looks like there's not alot of missing data,
#but we will go ahead and drop the na valuies
heart_data.info()
heart_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    270 non-null    int64
 1   Age                      270 non-null    int64
 2   Sex                      270 non-null    int64
 3   Chest pain type          270 non-null    int64
 4   BP                       270 non-null    int64
 5   Cholesterol              270 non-null    int64
 6   FBS over 120             270 non-null    int64
 7   EKG results              270 non-null    int64
 8   Max HR                   270 non-null    int64
 9   Exercise angina          270 non-null    int64
 10  ST depression            270 non-null    float64
 11  Slope of ST              270 non-null    int64
 12  Number of vessels fluro  270 non-null    int64
 13  Thallium                 270 non-null    int64
 14  Heart Disease            270 non-null    object
dtypes: float64(1), int64(13), object(1)
memory usage: 31.8+ KB

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [4]:
#Clean the Data - check for missing values & Drop any rows with na values
heart_data.dropna(inplace=True)
heart_data

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [5]:
#Clean the Data - check for and remove any duplicate values in the dataset
len(heart_data["index"].unique()) #no duplicate values found
heart_data

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [6]:
#Clean the data - Drop "FBS over 120", "slope of ST" and "Thallium" as we will not look at those factors

heart_data.drop(columns=["FBS over 120", "Slope of ST", "Thallium"], axis = 1, inplace=True)

In [7]:
#Clean the data - drop the extra index column
heart_data.drop('index', axis =1, inplace=True)

In [8]:
heart_data

,Age,Sex,Chest pain type,BP,Cholesterol,EKG results,Max HR,Exercise angina,ST depression,Number of vessels fluro,Heart Disease
0,70,1,4,130,322,2,109,0,2.4,3,Presence
1,67,0,3,115,564,2,160,0,1.6,0,Absence
2,57,1,2,124,261,0,141,0,0.3,0,Presence
3,64,1,4,128,263,0,105,1,0.2,1,Absence
4,74,0,2,120,269,2,121,1,0.2,1,Absence
...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,0,162,0,0.5,0,Absence
266,44,1,2,120,263,0,173,0,0.0,0,Absence
267,56,0,2,140,294,2,153,0,1.3,0,Absence
268,57,1,4,140,192,0,148,0,0.4,0,Absence
269,67,1,4,160,286,2,108,1,1.5,3,Presence

In [ ]:
#do a summary table for the data to ge the mean, median, mode, variance, standard Deviation and SEM 
#For Age, BP, Cholesterol, Max HR, and ST Depression

In [ ]:
#Find the distribution of SEX, EXERCISE ANGINA, CHEST PAIN TYPE, EKG RESULTS, and HEART DISEASE using separete pie charts

In [ ]:
#Using a scatterplot & Regression lines, Look at the correlations between 
#Age & Cholesterol
#Age & Max HR
#Age & BP
#Age & ST Depression

#save each plot as an image

In [ ]:
#Look at the replationship between Age, Sex, BP, Cholesterol, EKG results, Max HR, exercise angina, ST depression, number of vessels furo
#and each of their relationships to the presence or absence of Heart Disease