In [1]:
#Em Greene
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
heart_data = pd.read_csv("Resources\Heart_Disease_Prediction.csv")

In [3]:
#This data looks very clean already, looks like there's not alot of missing data,
#but we will go ahead and drop the na valuies
heart_data.info()
heart_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    270 non-null    int64
 1   Age                      270 non-null    int64
 2   Sex                      270 non-null    int64
 3   Chest pain type          270 non-null    int64
 4   BP                       270 non-null    int64
 5   Cholesterol              270 non-null    int64
 6   FBS over 120             270 non-null    int64
 7   EKG results              270 non-null    int64
 8   Max HR                   270 non-null    int64
 9   Exercise angina          270 non-null    int64
 10  ST depression            270 non-null    float64
 11  Slope of ST              270 non-null    int64
 12  Number of vessels fluro  270 non-null    int64
 13  Thallium                 270 non-null    int64
 14  Heart Disease            270 non-null    object
dtypes: float64(1), int64(13), object(1)
memory usage: 31.8+ KB

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [4]:
#Clean the Data - check for missing values & Drop any rows with na values
heart_data.dropna(inplace=True)
heart_data

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [5]:
#Clean the Data - check for and remove any duplicate values in the dataset
len(heart_data["index"].unique()) #no duplicate values found
heart_data

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [6]:
#Clean the data - Drop "FBS over 120", "slope of ST" and "Thallium" as we will not look at those factors

heart_data.drop(columns=["FBS over 120", "Slope of ST", "Thallium"], axis = 1, inplace=True)

In [7]:
#Clean the data - drop the extra index column
heart_data.drop('index', axis =1, inplace=True)

In [8]:
heart_data

,Age,Sex,Chest pain type,BP,Cholesterol,EKG results,Max HR,Exercise angina,ST depression,Number of vessels fluro,Heart Disease
0,70,1,4,130,322,2,109,0,2.4,3,Presence
1,67,0,3,115,564,2,160,0,1.6,0,Absence
2,57,1,2,124,261,0,141,0,0.3,0,Presence
3,64,1,4,128,263,0,105,1,0.2,1,Absence
4,74,0,2,120,269,2,121,1,0.2,1,Absence
...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,0,162,0,0.5,0,Absence
266,44,1,2,120,263,0,173,0,0.0,0,Absence
267,56,0,2,140,294,2,153,0,1.3,0,Absence
268,57,1,4,140,192,0,148,0,0.4,0,Absence
269,67,1,4,160,286,2,108,1,1.5,3,Presence

In [9]:
#do a summary table for the data to ge the mean, median, variance, standard Deviation and SEM 
#For Age, BP, Cholesterol, Max HR, and ST Depression by the presence or absense of Heart Disease

summary_table_data = heart_data.groupby("Heart Disease")
age_summary_table = summary_table_data["Age"].agg(['mean', 'median', 'var', 'std', 'sem']).T
print(age_summary_table) #The average age range is a little higher for the group with Heart Disease

Heart Disease    Absence   Presence
mean           52.706667  56.591667
median         52.000000  58.000000
var            90.436868  65.873880
std             9.509830   8.116273
sem             0.776474   0.740911

In [10]:

#BP Summary Table
bp_summary_table = summary_table_data["BP"].agg(['mean', 'median', 'var', 'std', 'sem']).T
print(bp_summary_table) #The average BP is higher for the group with heart disease

Heart Disease     Absence    Presence
mean           128.866667  134.441667
median         130.000000  130.000000
var            270.854586  364.635224
std             16.457660   19.095424
sem              1.343762    1.743166

In [11]:

#Cholesterol Summary Table
cholesterol_summary_table = summary_table_data["Cholesterol"].agg(['mean', 'median', 'var', 'std', 'sem']).T
print(cholesterol_summary_table) #The average Cholesterol is higher for the group with heart disease

Heart Disease      Absence     Presence
mean            244.213333   256.466667
median          236.000000   255.500000
var            2918.061566  2301.040896
std              54.019085    47.969166
sem               4.410640     4.378966

In [12]:

#Max HR Summary Table
hr_summary_table = summary_table_data["Max HR"].agg(['mean', 'median', 'var', 'std', 'sem']).T
print(hr_summary_table) #The average Max Heart Rate is actually higher for individuals with NO heart disease

Heart Disease     Absence    Presence
mean           158.333333  138.858333
median         161.000000  141.500000
var            371.847875  535.030182
std             19.283357   23.130719
sem              1.574480    2.111536

In [13]:

#ST Depression Summary Table
STdep_summary_table = summary_table_data["ST depression"].agg(['mean', 'median', 'var', 'std', 'sem']).T
print(STdep_summary_table) #The average ST depression is higher for individuals with heart disease

Heart Disease   Absence  Presence
mean           0.622667  1.584167
median         0.200000  1.400000
var            0.641362  1.643697
std            0.800851  1.282067
sem            0.065389  0.117036

### Summary Tables Summary: Each numerical field had higher averages for the group with Heart Disease. This is with the exception of Max Heart Rate, which was lower for the group with Heart Disease.

In [14]:
#Noor Zaki
#Find the distribution of SEX, EXERCISE ANGINA, CHEST PAIN TYPE, EKG RESULTS, and HEART DISEASE using separete pie charts

In [15]:
#Gabriel RodRiguez
#Using a scatterplot & Regression lines, Look at the correlations between 
#Age & Cholesterol
#Age & Max HR
#Age & BP
#Age & ST Depression

#save each plot as an image

In [16]:
#Em Greene
#Look at the relationship between Age, Sex, BP, Cholesterol, EKG results, Max HR, exercise angina, ST depression, number of vessels fluro
#and each of their relationships to the presence or absence of Heart Disease

#making 2 separate data frames in order to compare the data
hd_df = heart_data[heart_data["Heart Disease"] == "Presence"]
healthy_df = heart_data[heart_data["Heart Disease"] == "Absence"]

heart_columns = hd_df.columns.tolist()
heart_pvals = []
heart_ttests = []

for col in heart_columns:
    try:
        heart_stats = stats.ttest_ind(hd_df[col], healthy_df[col], equal_var=False)
        print(f"{heart_stats[1]} is the p-value for {col} and {heart_stats[0]} is the t-test value")
        heart_pvals.append(heart_stats[1])
        heart_ttests.append(heart_stats[0])

    except:
        print(f"p-value not found for {col}")

0.00035261153126764664 is the p-value for Age and 3.6198527238698595 is the t-test value
2.854795481242213e-07 is the p-value for Sex and 5.267201972355484 is the t-test value
3.304213753688059e-13 is the p-value for Chest pain type and 7.665564086221255 is the t-test value
0.011959781753331972 is the p-value for BP and 2.532959674932184 is the t-test value
0.04970653393259607 is the p-value for Cholesterol and 1.9715011728386425 is the t-test value
0.0026343880989835914 is the p-value for EKG results and 3.037131627946569 is the t-test value
2.604406280826134e-12 is the p-value for Max HR and -7.393903120959478 is the t-test value
5.773528626023947e-12 is the p-value for Exercise angina and 7.301836829089898 is the t-test value
1.6013415805824866e-11 is the p-value for ST depression and 7.17193505352875 is the t-test value
1.373566092202571e-13 is the p-value for Number of vessels fluro and 7.975134503740612 is the t-test value
p-value not found for Heart Disease

c:\Users\EmGre\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

In [17]:

 #Adding a nan for the Heart Disease Column       
heart_columns.remove("Heart Disease")

In [18]:

pvals_list = pd.DataFrame({ "Heart Factors" : heart_columns,
                           "P-values" : heart_pvals,
                           "T-test Result": heart_ttests
                           })


print(pvals_list["P-values"].min())
print(pvals_list["P-values"].max())

pvals_list.sort_values(by = "P-values")

1.373566092202571e-13
0.04970653393259607

             Heart Factors      P-values  T-test Result
9  Number of vessels fluro  1.373566e-13       7.975135
2          Chest pain type  3.304214e-13       7.665564
6                   Max HR  2.604406e-12      -7.393903
7          Exercise angina  5.773529e-12       7.301837
8            ST depression  1.601342e-11       7.171935
1                      Sex  2.854795e-07       5.267202
0                      Age  3.526115e-04       3.619853
5              EKG results  2.634388e-03       3.037132
3                       BP  1.195978e-02       2.532960
4              Cholesterol  4.970653e-02       1.971501

### The top 3 most significantly different factors between the group with heart disease and the group without heart disease are Number of vessels fluro, chest pain type, and Max HR.
 - While all values were significant, it was surprising to see that cholesterol was the least significant difference. This may be because it is grouped and not broken down into HDL/LDL, and Triglycerides. It is also interesting to note that Max HR seems be the only factor that is more likely to be lower in those with heart disease. THis may be related to the fact that max HR decreases with age.